$BRAND: #33681d;
$ACCENT: #ff9f00;

$WHITE: #ffffff;
$TRANSPARENT: transparent;

$BACKGROUND_COLOR: #f9f9f9;
$BACKGROUND_COLOR_BLUE: rgba(249, 255, 255, 0.59);

$TEXT_DARK: #414141;
$TEXT_DISABLED: #959595;

$BACKGROUND_DARK: rgba(0, 0, 0, 0.56);
